In [15]:
import numpy as np
import pandas as pd

In [16]:
#print(np.__version__)
#print(pd.__version__)

### Series 1D array (list+index)

In [17]:
list_=[11,12,13]
#print(type(list_))

In [18]:
#list_

In [19]:
ser=pd.Series(list_,index=["Mon","Tue","Wed"])

In [20]:
#print(type(ser))

In [21]:
ser

Mon    11
Tue    12
Wed    13
dtype: int64

Mon    11
Tue    12
Wed    13
dtype: int64

ser.values

#### data frame (2d array)

In [22]:
my_d={"Name":["Aman","Amit"],"Age":[12,13],"Ed":["Phd","M.tech"]}

In [23]:
my_d

{'Name': ['Aman', 'Amit'], 'Age': [12, 13], 'Ed': ['Phd', 'M.tech']}

{'Name': ['Aman', 'Amit'], 'Age': [12, 13], 'Ed': ['Phd', 'M.tech']}

In [24]:
mydf=pd.DataFrame(my_d)

In [25]:
mydf

   Name  Age      Ed
0  Aman   12     Phd
1  Amit   13  M.tech

   Name  Age      Ed
0  Aman   12     Phd
1  Amit   13  M.tech

In [26]:
#mydf.keys()
mydf.columns

Index(['Name', 'Age', 'Ed'], dtype='object')

Index(['Name', 'Age', 'Ed'], dtype='object')

In [27]:
mydf.Name

0    Aman
1    Amit
Name: Name, dtype: object

0    Aman
1    Amit
Name: Name, dtype: object

In [28]:
mydf["Name"]

0    Aman
1    Amit
Name: Name, dtype: object

0    Aman
1    Amit
Name: Name, dtype: object