In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt

In [2]:
data=pd.read_csv("C:/Users/mail2/OneDrive/Desktop/Ml_Data/Social_Network_Ads.csv")

In [4]:
data=data.drop(["User ID"],axis=1)

In [6]:
data.head(1)

  Gender  Age  EstimatedSalary  Purchased
0   Male   19            19000          0

In [7]:
X_feature=data.iloc[:,0:3]
Y_purchased=data.iloc[:,3]

In [12]:
#Y_purchased

In [14]:
X_feature["Gender"]=X_feature["Gender"].map({"Male":0,"Female":1})

In [17]:
X_feature.head(1)

   Gender  Age  EstimatedSalary
0       0   19            19000

In [22]:
#X_feature.corr()

In [23]:
#sb.heatmap(X_feature.corr())
#plt.show()

### split

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
xtrain,xtest,ytrain,ytest=train_test_split(X_feature,Y_purchased,
                 test_size=.30,random_state=101)

In [29]:
#training the model

In [28]:
from sklearn.tree import DecisionTreeClassifier
model_dt=DecisionTreeClassifier(criterion="entropy",splitter="best")
model_learner=model_dt.fit(xtest,ytest)

In [39]:
#X_feature.head(1)

###### prediction

In [35]:
#model_learner.predict([[1,25,15000]])

###### accuracy

In [37]:
YA=ytest
YP=model_learner.predict(xtest)
from sklearn.metrics import accuracy_score
acc_=accuracy_score(YA,YP)*100
acc_

100.0

In [47]:
model_learner.feature_importances_

array([0.        , 0.47206327, 0.52793673])

In [48]:
model_learner.classes_

array([0, 1], dtype=int64)

In [49]:
model_learner.feature_names_in_

array(['Gender', 'Age', 'EstimatedSalary'], dtype=object)

In [50]:
model_learner.max_features_

3