In [25]:
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [26]:
data=pd.read_csv(r"C:/Users/mail2/OneDrive/Desktop/Ml_Data/Data_2022/crime_data.csv")

In [27]:
data.rename({"Unnamed: 0":"Place Name"},axis=1,inplace=True)

In [28]:
data.head(1)

  Place Name  Murder  Assault  UrbanPop  Rape
0    Alabama    13.2      236        58  21.2

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Place Name  50 non-null     object
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     int64
 3   UrbanPop    50 non-null     int64
 4   Rape        50 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

In [30]:
data["Place Name"]=data["Place Name"].astype('category')

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Place Name  50 non-null     category
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     int64
 3   UrbanPop    50 non-null     int64
 4   Rape        50 non-null     float64
dtypes: category(1), float64(2), int64(2)
memory usage: 4.2 KB

# outlier using box plot

plt.figure(figsize=(10,5))
plt.boxplot(x="Rape",data=data)
plt.title("Box Plot")
plt.ylabel("Rape")
plt.xticks(rotation=45,fontsize=10)
plt.show()

plt.figure(figsize=(10,5))
plt.boxplot(x="Murder",data=data)
plt.title("Box Plot")
plt.ylabel("Murder")
plt.xticks(rotation=45,fontsize=10)
plt.show()

plt.figure(figsize=(10,5))
plt.boxplot(x="Assault",data=data)
plt.title("Box Plot")
plt.ylabel("Assault")
plt.xticks(rotation=45,fontsize=10)
plt.show()

In [32]:
print(np.where(data["Rape"]>42))

(array([ 1, 27], dtype=int64),)

In [37]:
data.head(1)

  Place Name  Murder  Assault  UrbanPop  Rape
0    Alabama    13.2      236        58  21.2

In [34]:
data["Rape"][1]=21

In [35]:
data["Rape"][27]=26

plt.figure(figsize=(10,5))
plt.boxplot(x="Rape",data=data)
plt.title("Box Plot")
plt.ylabel("Rape")
plt.xticks(rotation=45,fontsize=10)
plt.show()

In [40]:
#Before Scalling
mean1=data.mean()
std1=data.std()

In [43]:
mean_std_1=pd.DataFrame({"Mean":mean1,"Std":std1},
                        index=data.columns[1:])

In [45]:
#mean_std_1

In [46]:
from sklearn.preprocessing import minmax_scale,StandardScaler

In [60]:
std_scaler=StandardScaler()
Scaled_data=std_scaler.fit_transform(data.iloc[:,1:])
Scaled_df=pd.DataFrame(Scaled_data)
Scaled_df.columns=data.columns[1:]
Scaled_df["Place Name"]=data.iloc[:,0]

In [66]:
#mean and std after scalling
mean2=Scaled_df.mean()
std2=Scaled_df.std()
#mean2=int(mean2)
#std2=int(std2)

In [70]:
mean_std_2=pd.DataFrame({"Mean":mean2,"Std":std2},
                        index=data.columns[1:])

In [74]:
mean_std_2["Mean"]=mean_std_2["Mean"].astype('int')
mean_std_2["Std"]=mean_std_2["Std"].astype('int')

In [77]:
#mean_std_2

In [78]:
#mean_std_1