In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import string
import re
from matplotlib import pyplot as plt
import nltk
from nltk.corpus import stopwords

In [2]:
data=pd.read_csv(r"C:/Users/mail2/OneDrive/Desktop/Ml_Data/NLP_DATA/tweet_emotions.csv")

In [3]:
#data["sentiment"].value_counts()

In [4]:
#sb.countplot(x="sentiment",data=data)
#plt.xticks(rotation=90)
#plt.show()

In [5]:
data.head(2)

     tweet_id sentiment                                            content
0  1956967341     empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666   sadness  Layin n bed with a headache  ughhhh...waitin o...

In [6]:
data=data.drop(["tweet_id"],axis=1)

In [7]:
data.head(1)

  sentiment                                            content
0     empty  @tiffanylue i know  i was listenin to bad habi...

In [8]:
import string
stemmer = nltk.SnowballStemmer("english")
stop_words_list=stopwords.words("english")

In [9]:
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stop_words_list]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

In [10]:
data["clean_content"]=data["content"].apply(clean)

In [11]:
data.head(1)

,sentiment,content,clean_content
0,empty,@tiffanylue i know i was listenin to bad habi...,tiffanylu know listenin bad habit earlier sta...

### tfidf

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
x_conetent=np.array(data["clean_content"])
y_target=np.array(data["sentiment"])

In [14]:
tf_idf_vector=TfidfVectorizer(use_idf=True,ngram_range=(2,2))
x_feature=tf_idf_vector.fit_transform(x_conetent)

In [15]:
#tf_idf_vector.get_feature_names()

In [16]:
#x_feature.shape

### spliting in training and teesting

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(x_feature,y_target,test_size=.30,random_state=101)

In [19]:
#Model NB

In [20]:
from sklearn.naive_bayes import BernoulliNB,GaussianNB,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [22]:
trainer_mnb=MultinomialNB()
leraner_mnb=trainer_mnb.fit(xtrain,ytrain)

In [23]:
input_text="So sleepy again and it's not even that late. I fail once again."

In [24]:
out_text=tf_idf_vector.transform([input_text]).toarray()

In [25]:
leraner_mnb.predict(out_text)

array(['neutral'], dtype='<U10')

In [26]:
YA=ytest
YP=leraner_mnb.predict(xtest)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(YA,YP)

0.267