In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading file from folder

In [3]:
mydata=pd.read_excel(r"C:\Users\mail2\OneDrive\Desktop\Ml_Data\Population_Summary.xlsx")

In [5]:
mydata.shape

(35, 9)

In [10]:
#mydata.head()
#mydata.tail()
#mydata.sample(5)

In [12]:
mydata.head(1)

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
0,1,Uttar Pradesh,199812341,77.73,22.27,16.5,20.23,Brazil,5

In [17]:
r=mydata[["State_UT","Population"]]

In [20]:
#state information with some condition

In [21]:
mydata["Growth"].min()

-0.58

In [22]:
mydata[mydata["Growth"]==mydata["Growth"].min()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank
24,24,Nagaland,1978502,71.14,28.86,0.16,-0.58,Botswana,148

In [23]:
mydata["Population"].sum()

1210854977

In [24]:
mydata["%Population"]=mydata["Population"]/mydata["Population"].sum()

In [26]:
#mydata

In [28]:
#mydata.describe()

In [30]:
#mydata.info()

In [31]:
mydata.head(1)

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank,%Population
0,1,Uttar Pradesh,199812341,77.73,22.27,16.5,20.23,Brazil,5,0.165018

In [37]:
#mydata.iloc[:5,2:5]
#mydata.loc[:5,"State_UT":"Urban"]
mydata.iloc[:,2:5].sum(axis=0)

Population    1.210855e+09
Rulal         2.140620e+03
Urban         1.359380e+03
dtype: float64

In [38]:
mydata["Population"].min()

64473

In [39]:
mydata["Population"].max()

199812341

In [43]:
mydata[mydata["Population"]==mydata["Population"].max()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank,%Population
0,1,Uttar Pradesh,199812341,77.73,22.27,16.5,20.23,Brazil,5,0.165018

In [44]:
mydata[mydata["Population"]==mydata["Population"].min()]

,Rank,State_UT,Population,Rulal,Urban,Share,Growth,Country,World_Rank,%Population
34,UT6,Lakshadweep,64473,21.93,78.07,0.01,6.3,Bermuda,205,0.000053